
      <footer>

            <p><a href="https://www.djangoproject.com/">Django</a> website built by
            <a href="https://www.linkedin.com/in/yasin-cepnioglu" target="_blank"
            >Yasin Cepnioglu</a></p>
            <section class="footer-container">
            <p> Template by <a href="https://twitter.com/koladechris">Kolade Chris</a></p>
            <p>Illustrations by <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a></p>
            <p> Working Man Illustration by <a href="https://icons8.com/illustrations/author/5e7e24ce01d0360013bb7479">Natasha Remarchuk</a> from <a href="https://icons8.com/illustrations">Ouch!</a></p>
            <p>Icon by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a></p>
            <p><a target="_blank" href="https://icons8.com/icon/mZNLkLsugQ3I/up-arrow">Up Arrow</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
            </section>
      </footer>