<section class="more-about">
      <h2>More About Me</h2>
      <p>
        I am graduated from the GIS program of Umeå University. I am able to obtain, create, analyse and present geographical data on maps by following cartographic conventions.
      </p>
      <p>
        I can also build models for specified tasks which may serve as customary tools. In the GIS context, I have experience in using Model Builder from my thesis work.
      </p>
      <p>
        I am also able to use Python programming language for customary tool design along with JavaScript for web applications.
      </p>
      </section>