{% load static %}

<section class="skills" id="skills">
      <h2 class="skill-header">My Top Skills</h2>

      <div class="skills-wrapper">
        <div class="first-set animate__animated animate__pulse">
            <a href="https://www.esri.com/en-us/arcgis/products/arcgis-pro/overview"
               target="_blank"> <img
            src="{% static 'assets/icons/ArcGIS-Pro.png' %}"
            alt="ArcGIS Pro"
            loading="lazy"
            class="icon icon-card"/></a>

            <a href="https://www.python.org/" target="_blank"><img
            src="{% static 'assets/icons/icons8-python.svg' %}"
            alt="Python"
            loading="lazy"
            class="icon icon-card"/></a>
          <a href="https://www.qgis.org/" target="_blank"><img
            src="{% static 'assets/icons/qgis-icon64.svg' %}"
            alt="QGIS"
            loading="lazy"
            class="icon icon-card"/></a>
        </div>
        <div class="second-set animate__animated animate__pulse">
          <a href="https://en.wikipedia.org/wiki/HTML5" target="_blank"><img
            src="{% static 'assets/icons/icons8-html-5.svg' %}"
            alt="HTML5"
            loading="lazy"
            class="icon icon-card"/></a>
          <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><img
            src="{% static 'assets/icons/icons8-javascript.svg' %}"
            alt="JavaScript"
            loading="lazy"
            class="icon icon-card"/></a>
          <a href="https://en.wikipedia.org/wiki/CSS" target="_blank"><img
            src="{% static 'assets/icons/icons8-css3.svg' %}"
            alt="CSS"
            loading="lazy"
            class="icon icon-card"/></a>
        </div>
      </div>
      </section>