 {% load static %}

        <div class="socials">
      <a href="https://www.linkedin.com/in/yasin-cepnioglu" target="_blank"
        ><img
          src="{% static 'assets/icons/icons8-linkedin-circled.gif' %}"
          alt="Linkedin"
          loading="lazy"
          class="socicon"
      /></a>

      <a href="https://github.com/cepniyasin/" target="_blank"
        ><img
          src="{% static 'assets/icons/icons8-github.gif' %}"
          alt="GitHub"
          loading="lazy"
          class="socicon"
      /></a>

      <a href="https://www.instagram.com/maps_of_interest" target="_blank"
        ><img
          src="{% static 'assets/icons/icons8-instagram.gif' %}"
          alt="Instagram"
          loading="lazy"
          class="socicon"
      /></a>


    </div>